@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: black;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

li{
  list-style-type: none;
}

body{
  font-family: Julius Sans One;
}

.container{
  margin: 0 30px;
}

header{
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: black solid 1px;
}

.header-container{
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header-logo{
  flex: 300px;
}

header img{
  width: 120px;
}

.header-list{
  display: flex;
  flex: 1.2;
  height: 70px;
  line-height: 70px;
}

.btn{
  display: flex;
  flex: 1;
  padding: 0 40px 0 20px;
  color: black;
  border-left: rgba(0, 0, 0, 0.05) solid 1px;
  /* transition: 0.3s; */
}

.btn:hover{
  background-color: rgba(255, 255, 0, 0.15);
}

.main{
  text-align: center;
}

.top {
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: inherit;
}

@keyframes fadein {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

.main-logo{
  padding: 120px 0 65px 0;
  width: 800px;
}

.title{
  padding: 100px 0 30px 0;
}

.title span{
  font-size: 40px;
  width: fit-content;
  border-bottom: black solid 1px;
}

.icon{
  width: 50px;
  border: white solid 1px;
  border-radius: 100%;
  vertical-align: middle;
}

.icon-border{
  width: fit-content;
  padding: 20px 5px 23px;
  border: black solid 1px;
  border-radius: 50px;
  transition: 0.3s;
  transition-property: background-color;
}

.icon-border:hover{
  background-color: rgba(105, 194, 193);
  color: white;
  border: rgba(105, 194, 193) solid 1px;
}

.skills{
  position: relative;
  margin: 50px auto;
  width: fit-content;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  /* background-color: rgba(255, 255, 0, 0.15); */
  padding: 30px 30px;
}

.skills-title{
  position: absolute;
  font-size: 30px;
  top: -3.1%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0 5px;
}

.skills p{
  padding-bottom: 10px;
}

#about h2{
  padding: 15px 0 5px 0;
}

#about h2 span{
  width: fit-content;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
}

#about p .red{
  color: rgb(248, 118, 118);
}

#about p .blue{
  color: rgb(96, 166, 231);
}

.input-cb{
  line-height: 200px;
}

.open{
  z-index: 0;
  padding: 30px;
  border: black solid 1px;
  background-color:  rgba(105, 194, 193);
  color: white;
  width: fit-content;
}

.open-space{
  display: none;
}

#cb{
  position: absolute;
  left: -50vw;
}

.bg-black{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

input[type="checkbox"]:checked ~ .bg-black{
  display: block;
  z-index: 110;
  color: white;
}

.word{
  font-size: 50px;
  width: 100px;
  height: 100px;
  animation-name: floating;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.word:hover{
  font-size: 70px;
  color: black;
}

.w1{
  position: absolute;
  left: 15.5%;
  animation-delay: -0s;
  transition: 0.5s;
}

.w2{
  position: absolute;
  left: 25.5%;
  animation-delay: -6s;
  transition: 0.5s;
}

.w3{
  position: absolute;
  left: 35.5%;
  animation-delay: -17s;
  transition: 0.5s;
}

.w4{
  position: absolute;
  left: 45.5%;
  animation-delay: -10s;
  transition: 0.5s;

}

.w5{
  position: absolute;
  left: 55.5%;
  animation-delay: -14s;
  transition: 0.5s;
}

.w6{
  position: absolute;
  left: 65.5%;
  animation-delay: -3s;
  transition: 0.5s;
}

.w7{
  position: absolute;
  left: 75.5%;
  animation-delay: -20s;
  transition: 0.5s;
}

@keyframes floating {
0% {
  top: 40%;
  transform: rotate(3deg);
}
20% {
  top: 42%;
  transform: rotate(-3deg);
}
40% {
  top: 38%;
}
60% {
  top: 42%;
  transform: rotate(3deg);
}
80% {
  top: 38%;
}
100% {
  top: 40%;
  transform: rotate(-3deg);
}
}

.testing{
  position: relative;
  width: 50%;
  height: 300px;
  margin: 0 auto;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
}

.test{
  font-size: 100px;
  width: fit-content;
}

.after-test{
  position: absolute;
  top: 40%;
  margin: 0 auto;
  width: 100%;
}

.after-test p{
  opacity: 0;
  transition: 0.1s;
}

.test:hover ~ .after-test p{
  opacity: 1;
  font-size: 100px;
}

.cv-test{
  height: 100px;
}

.cv-test a{
  line-height: 100px;
  font-size: 20px;
}

/*スマホ対応*/
@media
screen and (max-width: 1024px){

  body{
    font-size: 10px;
  }

  .container{
    margin: 0 5px;
  }

  .header-container{
    margin-left: 10px;
  }

  .header-logo{
    flex: 100px;
  }
  
  header img{
    width: 80px;
  }

  .btn{
    padding: 0 20px 0 10px;
  }

  .main .container:nth-child(1){
    margin: 0;
  }

  .main-logo{
    padding: 70px 0 65px 0;
    width: 100%;
  }

  .title span{
    font-size: 30px;
  }

  .icon{
    width: 25px;
  }

  .icon-border{
    padding: 10px 2px 12px;
  }

  .skills-title{
    font-size: 15px;
  }

  #about h2{
    padding: 5px 0 5px 0;
  }
  
  #about h2 span{
    font-size: 12px;
  }

  .word{
    font-size: 40px;
    width: 40px;
    height: 40px;
  }

  .word:hover{
    font-size: 50px;
    color: black;
  }

  .w1{
    left: 17%;
  }
  
  .w2{
    left: 27%;
  }
  
  .w3{
    left: 37%;
  }
  
  .w4{
    left: 47%;
  
  }
  
  .w5{
    left: 57%;
  }
  
  .w6{
    left: 67%;
  }
  
  .w7{
    left: 77%;
  }
  


}